# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [280]:
import pandas as pd
import numpy as np
import os
import glob
from collections import Counter

In [6]:
DATA_FOLDER = 'Data' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [7]:
# Write your answer here

### Method to extract the data from several csv files and concatenate them

In [8]:
def extraction_ebola(directory_name, country_name):
    
    files = [fn for fn in glob.glob(directory_name)]
    df_from_each_file = (pd.read_csv(f) for f in files)
    df = pd.concat(df_from_each_file, ignore_index=True)

    ##### Adding the Country name to the data frame
    country = [country_name] * len(df)
    country_df = pd.DataFrame({'country': country})
    df.join(country_df)
    
    return df

### Extract data of each country

In [9]:
guinea_df = extraction_ebola('Data/ebola/guinea_data/*', 'Guinea')
liberia_df = extraction_ebola('Data/ebola/liberia_data/*', 'Liberia')
sierra_leone_df = extraction_ebola('Data/ebola/sl_data/*', 'Sierra Leone')

In [10]:
guinea_df;

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [11]:
# Write your answer here

### Extraction of the spreadsheets

In [318]:
def extraction_microbiome2(directory_name, exclude_file):
    
    files = [fn for fn in glob.glob(directory_name) if not os.path.basename(fn).startswith(exclude_file)]
    data_frames = []

    for f in files:
        data_frames.append(pd.read_excel(f, names = ['TAXON', 'COUNT'])) 
    
    df = pd.concat([d for d in data_frames])
    df = df.reset_index()
    del df['index']
    return df, data_frames

In [319]:
df2, data_frames = extraction_microbiome2('Data/microbiome/*.xls', 'metadata')
metadata = pd.read_excel('Data/microbiome/metadata.xls')

In [320]:
meta = []
for i in range(0, len(metadata)):
    for j in range(0, len(data_frames[i])):
        meta.append(metadata.values[i])

In [321]:
test = pd.DataFrame(meta, columns=['BARCODE', 'GROUP', 'SAMPLE'])

In [322]:
result = pd.concat([df2, test], axis=1)

In [325]:
result = result.fillna('unknown');

In [326]:
result

,TAXON,COUNT,BARCODE,GROUP,SAMPLE
0,"Archaea ""Crenarchaeota"" Thermoprotei Desulfuro...",2,MID1,EXTRACTION CONTROL,unknown
1,"Archaea ""Crenarchaeota"" Thermoprotei Sulfoloba...",3,MID1,EXTRACTION CONTROL,unknown
2,"Archaea ""Crenarchaeota"" Thermoprotei Thermopro...",3,MID1,EXTRACTION CONTROL,unknown
3,"Archaea ""Euryarchaeota"" ""Methanomicrobia"" Meth...",7,MID1,EXTRACTION CONTROL,unknown
4,"Archaea ""Euryarchaeota"" ""Methanomicrobia"" Meth...",1,MID1,EXTRACTION CONTROL,unknown
5,"Archaea ""Euryarchaeota"" ""Methanomicrobia"" Meth...",1,MID1,EXTRACTION CONTROL,unknown
6,"Archaea ""Euryarchaeota"" Archaeoglobi Archaeogl...",1,MID1,EXTRACTION CONTROL,unknown
7,"Archaea ""Euryarchaeota"" Archaeoglobi Archaeogl...",1,MID1,EXTRACTION CONTROL,unknown
8,"Archaea ""Euryarchaeota"" Halobacteria Halobacte...",1,MID1,EXTRACTION CONTROL,unknown
9,"Archaea ""Euryarchaeota"" Halobacteria Halobacte...",4,MID1,EXTRACTION CONTROL,unknown
10,"Archaea ""Euryarchaeota"" Halobacteria Halobacte...",1,MID1,EXTRACTION CONTROL,unknown
11,"Archaea ""Euryarchaeota"" Halobacteria Halobacte...",2,MID1,EXTRACTION CONTROL,unknown
12,"Archaea ""Euryarchaeota"" Halobacteria Halobacte...",4,MID1,EXTRACTION CONTROL,unknown
13,"Archaea ""Euryarchaeota"" Methanococci Methanoco...",1,MID1,EXTRACTION CONTROL,unknown
14,"Archaea ""Euryarchaeota"" Methanopyri Methanopyr...",12,MID1,EXTRACTION CONTROL,unknown
15,"Archaea ""Euryarchaeota"" Thermoplasmata Thermop...",2,MID1,EXTRACTION CONTROL,unknown
16,"Bacteria ""Actinobacteria"" Actinobacteria Actin...",2,MID1,EXTRACTION CONTROL,unknown
17,"Bacteria ""Actinobacteria"" Actinobacteria Actin...",1,MID1,EXTRACTION CONTROL,unknown
18,"Bacteria ""Actinobacteria"" Actinobacteria Actin...",1,MID1,EXTRACTION CONTROL,unknown
19,"Bacteria ""Actinobacteria"" Actinobacteria Actin...",1,MID1,EXTRACTION CONTROL,unknown
20,"Bacteria ""Actinobacteria"" Actinobacteria Actin...",2,MID1,EXTRACTION CONTROL,unknown
21,"Bacteria ""Actinobacteria"" Actinobacteria Actin...",53,MID1,EXTRACTION CONTROL,unknown
22,"Bacteria ""Actinobacteria"" Actinobacteria Actin...",1,MID1,EXTRACTION CONTROL,unknown
23,"Bacteria ""Actinobacteria"" Actinobacteria Actin...",2,MID1,EXTRACTION CONTROL,unknown
24,"Bacteria ""Actinobacteria"" Actinobacteria Actin...",3,MID1,EXTRACTION CONTROL,unknown
25,"Bacteria ""Actinobacteria"" Actinobacteria Actin...",1,MID1,EXTRACTION CONTROL,unknown
26,"Bacteria ""Actinobacteria"" Actinobacteria Actin...",99,MID1,EXTRACTION CONTROL,unknown
27,"Bacteria ""Actinobacteria"" Actinobacteria Actin...",17,MID1,EXTRACTION CONTROL,unknown
28,"Bacteria ""Actinobacteria"" Actinobacteria Actin...",2,MID1,EXTRACTION CONTROL,unknown
29,"Bacteria ""Actinobacteria"" Actinobacteria Actin...",2,MID1,EXTRACTION CONTROL,unknown
...,...,...,...,...,...
2357,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",10,MID9,Control 2,stool
2358,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",1,MID9,Control 2,stool
2359,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",1,MID9,Control 2,stool
2360,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",1,MID9,Control 2,stool
2361,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",12,MID9,Control 2,stool
2362,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",4,MID9,Control 2,stool
2363,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",805,MID9,Control 2,stool
2364,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",862,MID9,Control 2,stool
2365,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",12,MID9,Control 2,stool
2366,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",3534,MID9,Control 2,stool
2367,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",4,MID9,Control 2,stool
2368,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",1,MID9,Control 2,stool
2369,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",25,MID9,Control 2,stool
2370,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",2,MID9,Control 2,stool
2371,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",3,MID9,Control 2,stool
2372,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",2,MID9,Control 2,stool
2373,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",1,MID9,Control 2,stool
2374,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",3,MID9,Control 2,stool
2375,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",2,MID9,Control 2,stool
2376,"Bacteria ""Proteobacteria"" Gammaproteobacteria ...",1,MID9,Control 2,stool
2377,"Bacteria ""Synergistetes"" Synergistia Synergist...",3,MID9,Control 2,stool
2378,"Bacteria ""Tenericutes"" Mollicutes Anaeroplasma...",1,MID9,Control 2,stool
2379,"Bacteria ""Tenericutes"" Mollicutes Haloplasmata...",11,MID9,Control 2,stool
2380,"Bacteria ""Thermodesulfobacteria"" Thermodesulfo...",1,MID9,Control 2,stool
2381,"Bacteria ""Thermodesulfobacteria"" Thermodesulfo...",1,MID9,Control 2,stool
2382,"Bacteria ""Thermotogae"" Thermotogae Thermotogal...",43,MID9,Control 2,stool
2383,"Bacteria ""Thermotogae"" Thermotogae Thermotogal...",16,MID9,Control 2,stool
2384,"Bacteria ""Verrucomicrobia"" Opitutae Opitutales...",1,MID9,Control 2,stool
2385,Bacteria Cyanobacteria Cyanobacteria Chloropl...,1,MID9,Control 2,stool
2386,Bacteria Cyanobacteria Cyanobacteria Chloropl...,10,MID9,Control 2,stool

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [268]:
# Write your answer here

### Import of the xls file

In [269]:
titanic = pd.read_excel('Data/titanic.xls')

### 1. Type and value range of each attribute

#### Types of the variable:
pdclass = Categorical
survived = Categorical
Name = string
Sex: string but can be categorical: 0 = men, 1 = women 
Age = int
sibsp = Categorical
Parch = Categorical
Fare = double
body = int

In [286]:
max_values = titanic.max()
min_values = titanic.min()

max_values = pd.DataFrame({'Column':max_values.index, 'max':max_values.values})
min_values = pd.DataFrame({'Column':min_values.index, 'min':min_values.values})

value_range = max_values.merge(min_values)
value_range

     Column                          max                  min
0    pclass                            3                    1
1  survived                            1                    0
2      name  van Melkebeke, Mr. Philemon  Abbing, Mr. Anthony
3       sex                            1                    0
4       age                           80               0.1667
5     sibsp                            8                    0
6     parch                            9                    0
7      fare                      512.329                    0
8      body                          328                    1

#### Change sex to a categorical variable

In [271]:
#Surement à modifier car dans l'autre sens ça ne marche pas. Il ne fait pas un match exact mais un containing. 
# peut-être regarder avec le paramètre regex
titanic['sex'].replace('female', 1,  inplace=True);
titanic['sex'].replace('male', 0, inplace=True);

### 2. Histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes.

#### Travel Class

In [281]:
class_dist = Counter(titanic['pclass'])
sex_dist = Counter(titanic['sex'])
port_dist = Counter(titanic['embarked'])

In [283]:
class_dist

Counter({1: 323, 2: 277, 3: 709})

In [284]:
sex_dist

Counter({0: 843, 1: 466})

In [285]:
port_dist

Counter({'S': 914, 'C': 270, nan: 2, 'Q': 123})

### 3. Proportion of passengers by cabin floor

### 4. Proportion of passengers that survived for travelled class

### 5. Proportion of the passengers that survived by travel class and sex