# 02 - Data from the Web

In this homework we will extract interesting information from www.topuniversities.com and www.timeshighereducation.com, two platforms that maintain a global ranking of worldwide universities. This ranking is not offered as a downloadable dataset, so you will have to find a way to scrape the information we need! You are not allowed to download manually the entire ranking -- rather you have to understand how the server loads it in your browser. For this task, Postman with the Interceptor extension can help you greatly. We recommend that you watch this brief tutorial to understand quickly how to use it.

In [4]:
from bs4 import BeautifulSoup
import requests
import json
import string
import pandas as pd
import re

## Data from QS ranking

Multiple strategies have been testes in order to find the data used to construct the table of the QS Rankings. However, only one of them led to the expected result. We opened the Web Inspector on the website. Among the ressources used by the page, a text file named 'XHR/357051.txt'  was containing the expected ranking with the desired informations.

In [5]:
URL_QS = 'https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508497791260'
r = requests.get(URL_QS)
page_body = r.json()
qs_df = pd.DataFrame(page_body['data'])

In [39]:
qs_df.to_csv('test2.csv')

## Test to scrap additional data

In [14]:
URL_ADD = 'https://www.topuniversities.com/universities/stanford-university'
r = requests.get(URL_ADD)
page_body = r.text
soup = BeautifulSoup(page_body, 'html.parser')
row = soup.find('div', {'class' : 'total faculty', 'class' : 'number'}).text
number = int(re.sub("[^\\d]",'',row)) #Je pense qu'il sera bien de regarder un peu pourquoi ce 'int' Ã  rajouter. Si c'est unq uestion de version ou pas

In [15]:
number

4285

## Data from Times Higher Education ranking

In [49]:
URL_THE = 'https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json'
r = requests.get(URL_THE)
page_body = r.json()
the_df = pd.DataFrame(page_body['data'])

In [50]:
the_df;

### Clean the data

In [51]:
#we keep only the first 200

In [54]:
the_df = the_df[:200]

In [55]:
the_df;

,aliases,location,member_level,name,nid,rank,rank_order,record_type,scores_citations,scores_citations_rank,...,scores_research,scores_research_rank,scores_teaching,scores_teaching_rank,stats_female_male_ratio,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio,subjects_offered,url
0,University of Oxford,United Kingdom,0,University of Oxford,468,1,10,master_account,99.1,15,...,99.5,1,86.7,5,46 : 54,"20,409",38%,11.2,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-oxford
1,University of Cambridge,United Kingdom,0,University of Cambridge,470,2,20,master_account,97.5,29,...,97.8,3,87.8,3,45 : 55,"18,389",35%,10.9,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-cambridge
2,California Institute of Technology caltech,United States,0,California Institute of Technology,128779,=3,30,private,99.5,10,...,97.5,4,90.3,1,31 : 69,"2,209",27%,6.5,"Architecture,Biological Sciences,Business & Ma...",/world-university-rankings/california-institut...
3,Stanford University,United States,11,Stanford University,467,=3,40,private,99.9,4,...,96.7,5,89.1,2,42 : 58,"15,845",22%,7.5,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/stanford-university
4,Massachusetts Institute of Technology,United States,0,Massachusetts Institute of Technology,471,5,50,private,100.0,1,...,91.9,9,87.3,4,37 : 63,"11,177",34%,8.7,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/massachusetts-insti...
5,Harvard University,United States,0,Harvard University,466,6,60,private,99.7,8,...,98.4,2,84.2,9,None,"20,326",26%,8.9,"Agriculture & Forestry,Archaeology,Art, Perfor...",/world-university-rankings/harvard-university
6,Princeton University,United States,0,Princeton University,469,7,70,private,99.6,9,...,93.9,6,85.7,7,45 : 55,"7,955",24%,8.3,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/princeton-university
7,Imperial College London,United Kingdom,0,Imperial College London,472,8,80,master_account,96.7,40,...,88.7,12,81.7,13,37 : 63,"15,857",55%,11.4,"Biological Sciences,Chemical Engineering,Chemi...",/world-university-rankings/imperial-college-lo...
8,University of Chicago,United States,0,University of Chicago,473,9,90,private,99.4,12,...,90.1,10,85.3,8,44 : 56,"13,525",25%,6.2,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-chicago
9,ETH Zurich â Swiss Federal Institute of Techno...,Switzerland,0,ETH Zurich â Swiss Federal Institute of Techno...,479,=10,100,master_account,94.3,60,...,92.0,8,76.4,21,31 : 69,"19,233",38%,14.6,"Agriculture & Forestry,Architecture,Biological...",/world-university-rankings/eth-zurich-swiss-fe...
10,University of Pennsylvania,United States,0,University of Pennsylvania,480,=10,110,private,98.5,22,...,90.1,11,83.7,10,50 : 50,"20,361",20%,6.5,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-pennsylv...
11,Yale University,United States,0,Yale University,475,12,120,private,98.4,24,...,87.0,17,86.7,6,49 : 51,"12,155",21%,4.3,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/yale-university
12,Johns Hopkins University,United States,0,Johns Hopkins University,478,13,130,private,98.4,23,...,88.1,16,76.1,23,52 : 48,"15,498",24%,4.3,"Agriculture & Forestry,Archaeology,Architectur...",/world-university-rankings/johns-hopkins-unive...
13,Columbia University,United States,0,Columbia University,476,14,140,private,98.8,19,...,83.3,26,82.2,12,None,"26,587",32%,6.1,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/columbia-university
14,"University of California, Los Angeles",United States,0,"University of California, Los Angeles",477,15,150,public,97.9,27,...,88.1,15,80.7,14,53 : 47,"39,279",17%,9.6,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/university-californ...
15,University College London ucl,United Kingdom,0,University College London,481,16,160,master_account,94.6,56,...,88.2,13,74.4,25,56 : 44,"30,304",49%,10.5,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-college-...
16,Duke University,United States,0,Duke University,487,17,170,private,98.3,25,...,80.6,27,80.7,15,49 : 51,"15,256",22%,4.5,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/duke-university
17,"University of California, Berkeley",United States,0,"University of California, Berkeley",474,18,180,public,99.8,5,...,84.5,24,77.4,18,52 : 48,"36,182",17%,13.1,"Agriculture & Forestry,Archaeology,Architectur...",/world-university-rankings/university-californ...
18,Cornell University,United States,0,Cornell University,484,19,190,private,97.6,28,...,86.6,19,76.2,22,49 : 51,"21,850",24%,9.8,"Agriculture & Forestry,Archaeology,Architectur...",/world-university-rankings/cornell-university
19,Northwestern University,United States,0,Northwestern University,490,20,200,private,96.9,36,...,86.7,18,72.6,28,48 : 52,"17,466",18%,12.8,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/northwestern-univer...
20,University of Michigan,United States,0,University of Michigan,482,21,210,public,95.7,47,...,86.3,20,77.2,20,48 : 52,"41,818",16%,8.6,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-michigan
21,National University of Singapore nus,Singapore,6,National University of Singapore,504,=22,220,master_account,81.3,193,...,88.2,14,77.4,19,51 : 49,"30,602",30%,17.0,"Architecture,Biological Sciences,Business & Ma...",/world-university-rankings/national-university...
22,University of Toronto,Canada,0,University of Toronto,483,=22,230,master_account,92.6,75,...,84.8,23,74.6,24,None,"69,427",17%,18.7,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/university-toronto
23,Carnegie Mellon University,United States,0,Carnegie Mellon University,485,24,240,private,99.7,7,...,83.7,25,65.8,36,39 : 61,"12,676",45%,13.5,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/carnegie-mellon-uni...
24,London School of Economics and Political Science,United Kingdom,0,London School of Economics and Political Science,511,=25,250,master_account,94.9,53,...,72.0,43,71.8,30,52 : 48,"10,065",71%,12.2,"Accounting & Finance,Business & Management,Eco...",/world-university-rankings/london-school-econo...
25,University of Washington,United States,0,University of Washington,489,=25,260,public,99.0,17,...,79.9,28,67.9,34,52 : 48,"44,945",16%,11.4,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/university-washington
26,University of Edinburgh,United Kingdom,0,University of Edinburgh,500,=27,270,master_account,97.0,35,...,74.2,36,66.8,35,59 : 41,"26,759",40%,12.5,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-edinburgh
27,New York University,United States,0,New York University,508,=27,280,private,96.5,43,...,77.4,34,73.7,27,56 : 44,"43,860",26%,9.6,"Accounting & Finance,Archaeology,Art, Performi...",/world-university-rankings/new-york-university
28,Peking University,China,0,Peking University,514,=27,290,master_account,74.2,274,...,85.1,22,83.0,11,47 : 53,"42,136",16%,8.9,"Accounting & Finance,Archaeology,Art, Performi...",/world-university-rankings/peking-university
29,Tsinghua University Qinghua University Tsing h...,China,6,Tsinghua University,535,30,300,master_account,71.4,306,...,93.2,7,80.2,16,32 : 68,"42,089",9%,13.7,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/tsinghua-university
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,University of Cape Town,South Africa,0,University of Cape Town,567,171,1710,master_account,87.0,133,...,36.2,225,30.5,372,53 : 47,"20,775",18%,11.7,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-cape-town
171,"Rutgers, the State University of New Jersey",United States,0,"Rutgers, the State University of New Jersey",546,172,1720,public,79.7,214,...,45.3,143,43.0,148,52 : 48,"43,439",10%,11.1,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/rutgers-state-unive...
172,KTH Royal Institute of Technology,Sweden,0,KTH Royal Institute of Technology,651,=173,1730,master_account,67.0,363,...,46.3,138,42.3,158,33 : 67,"12,951",17%,16.0,"Architecture,Biological Sciences,Chemistry,Com...",/world-university-rankings/kth-royal-institute...
173,University of MÃ¼nster,Germany,0,University of MÃ¼nster,756,=173,1740,master_account,81.2,195,...,42.1,161,40.3,181,53 : 47,"42,287",7%,42.6,"Chemistry,Communication & Media Studies,Comput...",/world-university-rankings/university-munster
174,UniversitÃ© Libre de Bruxelles,Belgium,0,UniversitÃ© Libre de Bruxelles,669,=175,1750,master_account,80.4,205,...,42.2,160,32.4,332,55 : 45,"25,343",35%,43.4,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/universite-libre-de...
175,Newcastle University,United Kingdom,6,Newcastle University,610,=175,1760,master_account,80.6,201,...,40.8,176,33.4,304,49 : 51,"20,952",30%,15.6,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/newcastle-university
176,University of Liverpool,United Kingdom,11,University of Liverpool,646,=177,1770,master_account,86.8,136,...,34.7,245,32.7,318,54 : 46,"19,815",35%,11.7,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-liverpool
177,Zhejiang University ZJU Zhejiang University Ch...,China,11,Zhejiang University,815,=177,1780,master_account,45.1,564,...,63.7,60,57.0,63,22 : 78,"50,051",6%,14.1,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/zhejiang-university
178,University of Luxembourg,Luxembourg,6,University of Luxembourg,131698,=179,1790,master_account,91.9,78,...,32.4,275,26.8,475,50 : 50,"4,969",57%,14.6,"Accounting & Finance,Biological Sciences,Busin...",/world-university-rankings/university-luxembourg
179,University of Twente,Netherlands,6,University of Twente,664,=179,1800,master_account,68.5,342,...,47.0,134,35.5,257,37 : 63,"6,697",27%,12.8,"Art, Performing Arts & Design,Business & Manag...",/world-university-rankings/university-twente
180,Paris-Sud University,France,0,Paris-Sud University,867,181,1810,master_account,86.8,138,...,33.1,265,40.4,180,55 : 45,"27,221",16%,14.5,"Business & Management,Chemistry,Economics & Ec...",/world-university-rankings/paris-sud-university
181,Ãcole Normale SupÃ©rieure de Lyon,France,0,Ãcole Normale SupÃ©rieure de Lyon,605,=182,1820,master_account,80.9,197,...,37.8,210,40.1,185,47 : 53,"2,221",13%,8.5,"Chemistry,Computer Science,Geology, Environmen...",/world-university-rankings/ecole-normale-super...
182,Hong Kong Polytechnic University hkpu hong kon...,Hong Kong,11,Hong Kong Polytechnic University,723,=182,1830,master_account,67.7,356,...,48.1,126,39.1,197,51 : 49,"21,773",25%,26.9,"Accounting & Finance,Art, Performing Arts & De...",/world-university-rankings/hong-kong-polytechn...
183,Scuola Normale Superiore di Pisa,Italy,0,Scuola Normale Superiore di Pisa,1019,184,1840,master_account,75.4,255,...,33.3,263,53.7,74,30 : 70,515,7%,5.2,"Biological Sciences,Chemistry,Computer Science...",/world-university-rankings/scuola-normale-supe...
184,University of Aberdeen,United Kingdom,0,University of Aberdeen,615,185,1850,master_account,87.1,131,...,33.6,258,30.3,377,55 : 45,"12,055",36%,13.9,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-aberdeen
185,University of Miami,United States,0,University of Miami,636,186,1860,private,90.3,91,...,24.4,418,42.5,157,51 : 49,"15,860",16%,5.9,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/university-miami
186,University of Dundee,United Kingdom,11,University of Dundee,640,187,1870,master_account,94.5,57,...,32.0,284,26.3,491,62 : 38,"10,893",24%,14.9,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/university-dundee
187,University of East Anglia,United Kingdom,0,University of East Anglia,609,=188,1880,master_account,90.5,89,...,31.6,290,29.9,395,60 : 40,"13,521",30%,13.6,"Accounting & Finance,Archaeology,Biological Sc...",/world-university-rankings/university-east-anglia
188,Shanghai Jiao Tong University,China,0,Shanghai Jiao Tong University,801,=188,1890,master_account,44.1,572,...,62.5,67,53.5,76,41 : 59,"37,288",6%,12.4,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/shanghai-jiao-tong-...
189,Aalto University,Finland,0,Aalto University,767,190,1900,master_account,79.5,215,...,35.8,232,37.8,210,34 : 66,"12,744",20%,20.2,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/aalto-university
190,University of Massachusetts,United States,0,University of Massachusetts,528,191,1910,master_account,88.8,112,...,32.2,280,36.3,237,49 : 51,"59,230",14%,13.3,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/university-massachu...
191,University of Auckland,New Zealand,11,University of Auckland,637,192,1920,master_account,73.8,282,...,40.7,177,32.5,327,54 : 46,"30,348",29%,18.8,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/university-auckland
192,Northeastern University,United States,0,Northeastern University,681,193,1930,private,91.7,79,...,26.8,370,35.6,254,49 : 51,"18,780",32%,14.0,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/northeastern-univer...
193,Lomonosov Moscow State University,Russian Federation,0,Lomonosov Moscow State University,753,194,1940,master_account,15.8,932,...,61.6,71,74.2,26,48 : 52,"29,236",22%,7.3,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/lomonosov-moscow-st...
194,Tilburg University,Netherlands,0,Tilburg University,734,195,1950,master_account,61.3,422,...,50.1,112,38.4,206,48 : 52,"7,738",13%,22.5,"Business & Management,Economics & Econometrics...",/world-university-rankings/tilburg-university
195,Paris-Sorbonne University â Paris 4,France,0,Paris-Sorbonne University â Paris 4,924,196,1960,master_account,77.1,240,...,34.3,251,44.6,132,68 : 32,"22,042",15%,30.2,"Archaeology,Art, Performing Arts & Design,Geog...",/world-university-rankings/paris-sorbonne-univ...
196,"Royal Holloway, University of London",United Kingdom,0,"Royal Holloway, University of London",571,197,1970,master_account,85.0,156,...,27.9,345,33.9,294,59 : 41,"8,931",40%,15.4,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/royal-holloway-univ...
197,"University of California, Riverside",United States,0,"University of California, Riverside",607,=198,1980,public,92.3,76,...,30.9,294,30.0,391,51 : 49,"20,740",14%,20.7,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-californ...
198,University of Gothenburg,Sweden,0,University of Gothenburg,676,=198,1990,master_account,87.5,129,...,39.2,199,26.7,477,None,"18,378",13%,10.0,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/university-gothenburg
199,National Taiwan University,Taiwan,0,National Taiwan University,618,=198,2000,master_account,53.4,495,...,54.7,93,50.4,87,40 : 60,"31,758",8%,11.5,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/national-taiwan-uni...

## Quelles donnÃ©es nous sont inutiles? 

Je propose de garder: 
- name
- location
- nid (TBD)
- rank
- stat female: male (TBD)
- stats number students
- stats % intl students (to rename and maybe change the percentage by a number)
- stat student staff ratio

In [63]:
the_df = the_df.loc[ :, ['name', 'rank', 'location', 'nid', 'stats_female_male_ratio', 'stats_number_students', 'stats_pc_intl_students', 'stats_student_staff_ratio']]

In [64]:
the_df

,name,rank,location,nid,stats_female_male_ratio,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio
0,University of Oxford,1,United Kingdom,468,46 : 54,"20,409",38%,11.2
1,University of Cambridge,2,United Kingdom,470,45 : 55,"18,389",35%,10.9
2,California Institute of Technology,=3,United States,128779,31 : 69,"2,209",27%,6.5
3,Stanford University,=3,United States,467,42 : 58,"15,845",22%,7.5
4,Massachusetts Institute of Technology,5,United States,471,37 : 63,"11,177",34%,8.7
5,Harvard University,6,United States,466,None,"20,326",26%,8.9
6,Princeton University,7,United States,469,45 : 55,"7,955",24%,8.3
7,Imperial College London,8,United Kingdom,472,37 : 63,"15,857",55%,11.4
8,University of Chicago,9,United States,473,44 : 56,"13,525",25%,6.2
9,ETH Zurich â Swiss Federal Institute of Techno...,=10,Switzerland,479,31 : 69,"19,233",38%,14.6
10,University of Pennsylvania,=10,United States,480,50 : 50,"20,361",20%,6.5
11,Yale University,12,United States,475,49 : 51,"12,155",21%,4.3
12,Johns Hopkins University,13,United States,478,52 : 48,"15,498",24%,4.3
13,Columbia University,14,United States,476,None,"26,587",32%,6.1
14,"University of California, Los Angeles",15,United States,477,53 : 47,"39,279",17%,9.6
15,University College London,16,United Kingdom,481,56 : 44,"30,304",49%,10.5
16,Duke University,17,United States,487,49 : 51,"15,256",22%,4.5
17,"University of California, Berkeley",18,United States,474,52 : 48,"36,182",17%,13.1
18,Cornell University,19,United States,484,49 : 51,"21,850",24%,9.8
19,Northwestern University,20,United States,490,48 : 52,"17,466",18%,12.8
20,University of Michigan,21,United States,482,48 : 52,"41,818",16%,8.6
21,National University of Singapore,=22,Singapore,504,51 : 49,"30,602",30%,17.0
22,University of Toronto,=22,Canada,483,None,"69,427",17%,18.7
23,Carnegie Mellon University,24,United States,485,39 : 61,"12,676",45%,13.5
24,London School of Economics and Political Science,=25,United Kingdom,511,52 : 48,"10,065",71%,12.2
25,University of Washington,=25,United States,489,52 : 48,"44,945",16%,11.4
26,University of Edinburgh,=27,United Kingdom,500,59 : 41,"26,759",40%,12.5
27,New York University,=27,United States,508,56 : 44,"43,860",26%,9.6
28,Peking University,=27,China,514,47 : 53,"42,136",16%,8.9
29,Tsinghua University,30,China,535,32 : 68,"42,089",9%,13.7
...,...,...,...,...,...,...,...,...
170,University of Cape Town,171,South Africa,567,53 : 47,"20,775",18%,11.7
171,"Rutgers, the State University of New Jersey",172,United States,546,52 : 48,"43,439",10%,11.1
172,KTH Royal Institute of Technology,=173,Sweden,651,33 : 67,"12,951",17%,16.0
173,University of MÃ¼nster,=173,Germany,756,53 : 47,"42,287",7%,42.6
174,UniversitÃ© Libre de Bruxelles,=175,Belgium,669,55 : 45,"25,343",35%,43.4
175,Newcastle University,=175,United Kingdom,610,49 : 51,"20,952",30%,15.6
176,University of Liverpool,=177,United Kingdom,646,54 : 46,"19,815",35%,11.7
177,Zhejiang University,=177,China,815,22 : 78,"50,051",6%,14.1
178,University of Luxembourg,=179,Luxembourg,131698,50 : 50,"4,969",57%,14.6
179,University of Twente,=179,Netherlands,664,37 : 63,"6,697",27%,12.8
180,Paris-Sud University,181,France,867,55 : 45,"27,221",16%,14.5
181,Ãcole Normale SupÃ©rieure de Lyon,=182,France,605,47 : 53,"2,221",13%,8.5
182,Hong Kong Polytechnic University,=182,Hong Kong,723,51 : 49,"21,773",25%,26.9
183,Scuola Normale Superiore di Pisa,184,Italy,1019,30 : 70,515,7%,5.2
184,University of Aberdeen,185,United Kingdom,615,55 : 45,"12,055",36%,13.9
185,University of Miami,186,United States,636,51 : 49,"15,860",16%,5.9
186,University of Dundee,187,United Kingdom,640,62 : 38,"10,893",24%,14.9
187,University of East Anglia,=188,United Kingdom,609,60 : 40,"13,521",30%,13.6
188,Shanghai Jiao Tong University,=188,China,801,41 : 59,"37,288",6%,12.4
189,Aalto University,190,Finland,767,34 : 66,"12,744",20%,20.2
190,University of Massachusetts,191,United States,528,49 : 51,"59,230",14%,13.3
191,University of Auckland,192,New Zealand,637,54 : 46,"30,348",29%,18.8
192,Northeastern University,193,United States,681,49 : 51,"18,780",32%,14.0
193,Lomonosov Moscow State University,194,Russian Federation,753,48 : 52,"29,236",22%,7.3
194,Tilburg University,195,Netherlands,734,48 : 52,"7,738",13%,22.5
195,Paris-Sorbonne University â Paris 4,196,France,924,68 : 32,"22,042",15%,30.2
196,"Royal Holloway, University of London",197,United Kingdom,571,59 : 41,"8,931",40%,15.4
197,"University of California, Riverside",=198,United States,607,51 : 49,"20,740",14%,20.7
198,University of Gothenburg,=198,Sweden,676,None,"18,378",13%,10.0
199,National Taiwan University,=198,Taiwan,618,40 : 60,"31,758",8%,11.5