# 02 - Data from the Web

In this homework we will extract interesting information from www.topuniversities.com and www.timeshighereducation.com, two platforms that maintain a global ranking of worldwide universities. This ranking is not offered as a downloadable dataset, so you will have to find a way to scrape the information we need! You are not allowed to download manually the entire ranking -- rather you have to understand how the server loads it in your browser. For this task, Postman with the Interceptor extension can help you greatly. We recommend that you watch this brief tutorial to understand quickly how to use it.

In [1]:
from bs4 import BeautifulSoup
import urllib2
import requests
import json
import string
import pandas as pd
import re
import math
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import clear_output

## Data from QS ranking

Multiple strategies have been tested in order to find the data used to construct the table of the QS Rankings. However, only one of them led to the expected result. We opened the Web Inspector on the website. Among the ressources used by the page, a text file named 'XHR/357051.txt'  was containing the expected ranking with the desired informations. The URL_QS is leading to this file.

In [2]:
URL_QS = 'https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508497791260'
r = requests.get(URL_QS)
page_body = r.json()
qs_df = pd.DataFrame(page_body['data'])
qs_df = qs_df.drop(['core_id','logo','guide','cc', 'nid', 'stars','score'], axis=1).head(200)

Additionnal informations needed to be accessed on each university webpage. We used the 'url' column, went to the university page and extracted all the number values we wanted and placed them in additionnal columns. In some cases, there were no informations on the webpage, in this case the columns are filed with NaN.

In [3]:
# Going on each university page for each index of the table

for index_ in range(0,qs_df.shape[0]):
    
    URL_ADD = 'https://www.topuniversities.com' + qs_df.get_value(index_, 'url')
    r = requests.get(URL_ADD)
    page_body = r.text
    soup = BeautifulSoup(page_body, 'html.parser')
    # Request all numbers that are displayed on the page, we know their order
    all_numbers = soup.findAll('div', {'class' : 'number'})
    
    # If the page contains no numbers, we will store NaN
    if not all_numbers:
        total_faculty_number = 'NaN'
        interna_faculty_number = 'NaN'
        total_students_number = 'NaN'
        interna_students_number = 'NaN'
   
    else:    
    # Total Faculty Members
        total_faculty = all_numbers[0]
        total_faculty_number = int(re.sub("[^\\d]",'',str(total_faculty)))
    
    # International Faculty Members
        interna_faculty = all_numbers[1]
        interna_faculty_number = int(re.sub("[^\\d]",'',str(interna_faculty)))
    
    # Total Students
        total_students = all_numbers[2]
        total_students_number = int(re.sub("[^\\d]",'',str(total_students)))  
    
    # International Students
        interna_students = all_numbers[3]
        interna_students_number = int(re.sub("[^\\d]",'',str(interna_students)))
    
    # Adding the found values in the columns
    qs_df.set_value(index_, 'Faculty Members - Total', total_faculty_number)
    qs_df.set_value(index_, 'Faculty Members - International', interna_faculty_number)
    qs_df.set_value(index_, 'No Students - Total', total_students_number)
    qs_df.set_value(index_, 'No Students - International', interna_students_number)
    
    clear_output()
    print('Progress', index_/2, '%')
qs_df.head(10)

('Progress', 99, '%')

,country,rank_display,region,title,url,Faculty Members - Total,Faculty Members - International,No Students - Total,No Students - International
0,United States,1,North America,Massachusetts Institute of Technology (MIT),/universities/massachusetts-institute-technolo...,2982.0,1679.0,11067.0,3717.0
1,United States,2,North America,Stanford University,/universities/stanford-university,4285.0,2042.0,15878.0,3611.0
2,United States,3,North America,Harvard University,/universities/harvard-university,4350.0,1311.0,22429.0,5266.0
3,United States,4,North America,California Institute of Technology (Caltech),/universities/california-institute-technology-...,953.0,350.0,2255.0,647.0
4,United Kingdom,5,Europe,University of Cambridge,/universities/university-cambridge,5490.0,2278.0,18770.0,6699.0
5,United Kingdom,6,Europe,University of Oxford,/universities/university-oxford,6750.0,2964.0,19720.0,7353.0
6,United Kingdom,7,Europe,UCL (University College London),/universities/ucl-university-college-london,6345.0,2554.0,31080.0,14854.0
7,United Kingdom,8,Europe,Imperial College London,/universities/imperial-college-london,3930.0,2071.0,16090.0,8746.0
8,United States,9,North America,University of Chicago,/universities/university-chicago,2449.0,635.0,13557.0,3379.0
9,Switzerland,10,Europe,ETH Zurich - Swiss Federal Institute of Techno...,/universities/eth-zurich-swiss-federal-institu...,2477.0,1886.0,19815.0,7563.0

## Best QS university in terms of ratio between faculty members and students

In [8]:
def ratio(a, b):
    if b == 'NaN':
        return a
    
    a = float(a)
    b = float(b)
    if b == 0:
        return 1
    ratio = 100*b/a
    if ratio > 100:
        ratio = 1
    return ratio

In [9]:
# Create the ratios for every university

for index, row in qs_df.iterrows():
    if np.isfinite(row['No Students - Total']) and np.isfinite(row['No Students - International'])\
    or np.isfinite(row['No Students - Total']) and np.isfinite(row['Faculty Members - Total']):
        
        qs_df.loc[index, 'QS Ratio Int. Students'] = ratio(row['No Students - Total'], \
                                                           row['No Students - International'])
        qs_df.loc[index, 'QS Ratio Students/Staff'] = ratio(row['No Students - Total'], \
                                                            row['Faculty Members - Total'])
        

# Sort Universities with both ratios that are asked

qs_df_IntStud = qs_df.sort_values(['QS Ratio Int. Students'],ascending=[False])
qs_df_StaffStud = qs_df.sort_values(['QS Ratio Students/Staff'],ascending=[False])
qs_df_IntStud = qs_df_IntStud.reset_index(drop=True)
qs_df_StaffStud = qs_df_StaffStud.reset_index(drop=True)

# Give each university some points depending on their ratio
points = qs_df.shape[0]
for index_ in range(0,qs_df.shape[0]):
    qs_df_IntStud.set_value(index_, 'Points', points)
    qs_df_StaffStud.set_value(index_, 'Points', points)
    points -= 1

In [10]:
qs_df_IntStud

,country,rank_display,region,title,url,Faculty Members - Total,Faculty Members - International,No Students - Total,No Students - International,QS Ratio Int. Students,QS Ratio Students/Staff,Points
0,United Kingdom,35,Europe,London School of Economics and Political Scien...,/universities/london-school-economics-politica...,1088.0,687.0,9760.0,6748.0,69.139344,11.147541,200.0
1,Switzerland,12,Europe,Ecole Polytechnique Fédérale de Lausanne (EPFL),/universities/ecole-polytechnique-f%C3%A9d%C3%...,1695.0,1300.0,10343.0,5896.0,57.004738,16.387895,199.0
2,United Kingdom,8,Europe,Imperial College London,/universities/imperial-college-london,3930.0,2071.0,16090.0,8746.0,54.356743,24.425109,198.0
3,Netherlands,200,Europe,Maastricht University,/universities/maastricht-university,1277.0,502.0,16385.0,8234.0,50.253280,7.793714,197.0
4,United States,=47,North America,Carnegie Mellon University,/universities/carnegie-mellon-university,1342.0,425.0,13356.0,6385.0,47.806229,10.047919,196.0
5,United Kingdom,7,Europe,UCL (University College London),/universities/ucl-university-college-london,6345.0,2554.0,31080.0,14854.0,47.792793,20.415058,195.0
6,United Kingdom,92,Europe,University of St Andrews,/universities/university-st-andrews,1140.0,485.0,8800.0,4030.0,45.795455,12.954545,194.0
7,Australia,=41,Oceania,The University of Melbourne,/universities/university-melbourne,3311.0,1477.0,42182.0,18030.0,42.743350,7.849320,193.0
8,United Kingdom,127,Europe,Queen Mary University of London,/universities/queen-mary-university-london,1885.0,801.0,16135.0,6806.0,42.181593,11.682677,192.0
9,Hong Kong,26,Asia,The University of Hong Kong,/universities/university-hong-kong,3012.0,2085.0,20214.0,8230.0,40.714356,14.900564,191.0
10,United Kingdom,=23,Europe,King's College London,/universities/kings-college-london,3650.0,1513.0,23780.0,9451.0,39.743482,15.349033,190.0
11,Netherlands,113,Europe,University of Groningen,/universities/university-groningen,3351.0,1137.0,27549.0,10780.0,39.130277,12.163781,189.0
12,United Kingdom,57,Europe,The University of Warwick,/universities/university-warwick,2093.0,890.0,19855.0,7703.0,38.796273,10.541425,188.0
13,Switzerland,=98,Europe,University of Geneva,/universities/university-geneva,1752.0,1029.0,15844.0,6104.0,38.525625,11.057814,187.0
14,Australia,20,Oceania,The Australian National University,/universities/australian-national-university,1600.0,927.0,14442.0,5551.0,38.436505,11.078798,186.0
15,Australia,=109,Oceania,The University of Adelaide,/universities/university-adelaide,1729.0,633.0,21240.0,8114.0,38.201507,8.140301,185.0
16,Switzerland,10,Europe,ETH Zurich - Swiss Federal Institute of Techno...,/universities/eth-zurich-swiss-federal-institu...,2477.0,1886.0,19815.0,7563.0,38.168055,12.500631,184.0
17,United Kingdom,=23,Europe,The University of Edinburgh,/universities/university-edinburgh,4075.0,1553.0,28040.0,10551.0,37.628388,14.532810,183.0
18,United Kingdom,6,Europe,University of Oxford,/universities/university-oxford,6750.0,2964.0,19720.0,7353.0,37.287018,34.229209,182.0
19,United Kingdom,34,Europe,The University of Manchester,/universities/university-manchester,4910.0,1653.0,36670.0,13514.0,36.853013,13.389692,181.0
20,Australia,50,Oceania,The University of Sydney,/universities/university-sydney,3360.0,1829.0,46678.0,17030.0,36.483997,7.198252,180.0
21,United Kingdom,=135,Europe,Lancaster University,/universities/lancaster-university,1245.0,435.0,12300.0,4464.0,36.292683,10.121951,179.0
22,Australia,45,Oceania,The University of New South Wales (UNSW Sydney),/universities/university-new-south-wales-unsw-...,2924.0,1612.0,39784.0,14292.0,35.923990,7.349688,178.0
23,Australia,60,Oceania,Monash University,/universities/monash-university,3204.0,1679.0,57433.0,20578.0,35.829575,5.578674,177.0
24,United Kingdom,5,Europe,University of Cambridge,/universities/university-cambridge,5490.0,2278.0,18770.0,6699.0,35.689931,29.248801,176.0
25,Hong Kong,49,Asia,City University of Hong Kong,/universities/city-university-hong-kong,1349.0,1027.0,9240.0,3273.0,35.422078,14.599567,175.0
26,United Kingdom,=158,Europe,University of Aberdeen,/universities/university-aberdeen,1310.0,508.0,12005.0,4246.0,35.368596,10.912120,174.0
27,United Kingdom,=82,Europe,The University of Sheffield,/universities/university-sheffield,3065.0,938.0,25430.0,8745.0,34.388517,12.052694,173.0
28,United Kingdom,65,Europe,University of Glasgow,/universities/university-glasgow,2775.0,956.0,23815.0,8149.0,34.217930,11.652320,172.0
29,United Kingdom,=173,Europe,University of Liverpool,/universities/university-liverpool,2390.0,717.0,22065.0,7502.0,33.999547,10.831634,171.0
...,...,...,...,...,...,...,...,...,...,...,...,...
170,China,=114,Asia,Nanjing University,/universities/nanjing-university,2449.0,617.0,32495.0,2960.0,9.109094,7.536544,30.0
171,Italy,=192,Europe,Scuola Normale Superiore di Pisa,/universities/scuola-normale-superiore-di-pisa,86.0,1.0,532.0,48.0,9.022556,16.165414,29.0
172,Japan,=76,Asia,Tohoku University,/universities/tohoku-university,3411.0,264.0,17827.0,1604.0,8.997588,19.133898,28.0
173,United States,=182,North America,University of Colorado Boulder,/universities/university-colorado-boulder,3685.0,566.0,30219.0,2679.0,8.865283,12.194315,27.0
174,United States,=173,North America,University of Virginia,/universities/university-virginia,2509.0,487.0,21560.0,1899.0,8.807978,11.637291,26.0
175,Netherlands,=109,Europe,Utrecht University,/universities/utrecht-university,3067.0,653.0,31754.0,2771.0,8.726460,9.658626,25.0
176,Japan,=36,Asia,Kyoto University,/universities/kyoto-university,4060.0,293.0,22974.0,1990.0,8.661966,17.672151,24.0
177,Taiwan,=161,Asia,National Tsing Hua University,/universities/national-tsing-hua-university,1020.0,119.0,13890.0,1187.0,8.545716,7.343413,23.0
178,South Korea,=36,Asia,Seoul National University,/universities/seoul-national-university,3930.0,433.0,28064.0,2331.0,8.306015,14.003706,22.0
179,United States,=195,North America,Texas A&M University,/universities/texas-am-university,3446.0,206.0,60294.0,4900.0,8.126845,5.715328,21.0
180,Japan,=122,Asia,Hokkaido University,/universities/hokkaido-university,2605.0,210.0,17552.0,1347.0,7.674339,14.841613,20.0
181,United States,80,North America,"University of North Carolina, Chapel Hill",/universities/university-north-carolina-chapel...,4083.0,524.0,25373.0,1934.0,7.622276,16.091909,19.0
182,China,62,Asia,Shanghai Jiao Tong University,/universities/shanghai-jiao-tong-university,3544.0,887.0,38931.0,2858.0,7.341193,9.103285,18.0
183,Norway,=164,Europe,University of Bergen,/universities/university-bergen,1513.0,484.0,10671.0,767.0,7.187705,14.178615,17.0
184,Italy,=188,Europe,Alma Mater Studiorum - University of Bologna,/universities/alma-mater-studiorum-university-...,2990.0,153.0,63399.0,4195.0,6.616824,4.716163,16.0
185,Japan,=192,Asia,Keio University CEMS MIM,/universities/keio-university-cems-mim,3905.0,261.0,33500.0,2178.0,6.501493,11.656716,15.0
186,Israel,145,Asia,The Hebrew University of Jerusalem,/universities/hebrew-university-jerusalem,2249.0,454.0,16531.0,1034.0,6.254915,13.604743,14.0
187,South Korea,=41,Asia,KAIST - Korea Advanced Institute of Science & ...,/universities/kaist-korea-advanced-institute-s...,1250.0,147.0,9826.0,584.0,5.943415,12.721352,13.0
188,Finland,=102,Europe,University of Helsinki,/universities/university-helsinki,2645.0,535.0,22419.0,1234.0,5.504260,11.798028,12.0
189,Chile,201,Latin America,Universidad de Chile,/universities/universidad-de-chile,2256.0,127.0,38848.0,2134.0,5.493204,5.807249,11.0
190,South Korea,=71,Asia,Pohang University of Science And Technology (P...,/universities/pohang-university-science-techno...,664.0,113.0,3117.0,126.0,4.042348,21.302534,10.0
191,Chile,=137,Latin America,Pontificia Universidad Católica de Chile (UC),/universities/pontificia-universidad-cat%C3%B3...,2260.0,198.0,27003.0,991.0,3.669963,8.369440,9.0
192,Brazil,=182,Latin America,Universidade Estadual de Campinas (Unicamp),/universities/universidade-estadual-de-campina...,1968.0,109.0,26572.0,966.0,3.635406,7.406292,8.0
193,China,97,Asia,University of Science and Technology of China,/universities/university-science-technology-china,1992.0,155.0,16032.0,548.0,3.418164,12.425150,7.0
194,Brazil,121,Latin America,Universidade de São Paulo,/universities/universidade-de-s%C3%A3o-paulo,5582.0,279.0,65711.0,2086.0,3.174507,8.494773,6.0
195,Mexico,=122,Latin America,Universidad Nacional Autónoma de México (UNAM),/universities/universidad-nacional-aut%C3%B3no...,15073.0,949.0,141939.0,2173.0,1.530939,10.619351,5.0
196,India,172,Asia,Indian Institute of Technology Delhi (IITD),/universities/indian-institute-technology-delh...,466.0,4.0,7477.0,80.0,1.069948,6.232446,4.0
197,India,190,Asia,Indian Institute of Science (IISc) Bangalore,/universities/indian-institute-science-iisc-ba...,423.0,4071.0,47.0,423.0,1.000000,1.000000,3.0
198,India,=179,Asia,Indian Institute of Technology Bombay (IITB),/universities/indian-institute-technology-bomb...,876.0,19.0,9402.0,93.0,0.989151,9.317167,2.0
199,United States,52,North America,New York University (NYU),/universities/new-york-university-nyu,NaN,NaN,NaN,NaN,NaN,NaN,1.0

## Data from Times Higher Education ranking

In [28]:
URL_THE = 'https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json'
r = requests.get(URL_THE)
page_body = r.json()
the_df = pd.DataFrame(page_body['data'])

In [29]:
the_df = the_df.drop(['member_level','rank_order','record_type','scores_citations', 'scores_citations_rank',\
                      'scores_overall' ,'scores_research','scores_research_rank','scores_teaching', \
                      'scores_teaching_rank','subjects_offered','scores_industry_income','scores_industry_income_rank',\
                      'scores_international_outlook','scores_international_outlook_rank', 'scores_overall',\
                     'scores_overall_rank', 'nid','stats_female_male_ratio'], axis=1).head(200)

In [30]:
the_df

,aliases,location,name,rank,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio,url
0,University of Oxford,United Kingdom,University of Oxford,1,"20,409",38%,11.2,/world-university-rankings/university-oxford
1,University of Cambridge,United Kingdom,University of Cambridge,2,"18,389",35%,10.9,/world-university-rankings/university-cambridge
2,California Institute of Technology caltech,United States,California Institute of Technology,=3,"2,209",27%,6.5,/world-university-rankings/california-institut...
3,Stanford University,United States,Stanford University,=3,"15,845",22%,7.5,/world-university-rankings/stanford-university
4,Massachusetts Institute of Technology,United States,Massachusetts Institute of Technology,5,"11,177",34%,8.7,/world-university-rankings/massachusetts-insti...
5,Harvard University,United States,Harvard University,6,"20,326",26%,8.9,/world-university-rankings/harvard-university
6,Princeton University,United States,Princeton University,7,"7,955",24%,8.3,/world-university-rankings/princeton-university
7,Imperial College London,United Kingdom,Imperial College London,8,"15,857",55%,11.4,/world-university-rankings/imperial-college-lo...
8,University of Chicago,United States,University of Chicago,9,"13,525",25%,6.2,/world-university-rankings/university-chicago
9,ETH Zurich – Swiss Federal Institute of Techno...,Switzerland,ETH Zurich – Swiss Federal Institute of Techno...,=10,"19,233",38%,14.6,/world-university-rankings/eth-zurich-swiss-fe...
10,University of Pennsylvania,United States,University of Pennsylvania,=10,"20,361",20%,6.5,/world-university-rankings/university-pennsylv...
11,Yale University,United States,Yale University,12,"12,155",21%,4.3,/world-university-rankings/yale-university
12,Johns Hopkins University,United States,Johns Hopkins University,13,"15,498",24%,4.3,/world-university-rankings/johns-hopkins-unive...
13,Columbia University,United States,Columbia University,14,"26,587",32%,6.1,/world-university-rankings/columbia-university
14,"University of California, Los Angeles",United States,"University of California, Los Angeles",15,"39,279",17%,9.6,/world-university-rankings/university-californ...
15,University College London ucl,United Kingdom,University College London,16,"30,304",49%,10.5,/world-university-rankings/university-college-...
16,Duke University,United States,Duke University,17,"15,256",22%,4.5,/world-university-rankings/duke-university
17,"University of California, Berkeley",United States,"University of California, Berkeley",18,"36,182",17%,13.1,/world-university-rankings/university-californ...
18,Cornell University,United States,Cornell University,19,"21,850",24%,9.8,/world-university-rankings/cornell-university
19,Northwestern University,United States,Northwestern University,20,"17,466",18%,12.8,/world-university-rankings/northwestern-univer...
20,University of Michigan,United States,University of Michigan,21,"41,818",16%,8.6,/world-university-rankings/university-michigan
21,National University of Singapore nus,Singapore,National University of Singapore,=22,"30,602",30%,17.0,/world-university-rankings/national-university...
22,University of Toronto,Canada,University of Toronto,=22,"69,427",17%,18.7,/world-university-rankings/university-toronto
23,Carnegie Mellon University,United States,Carnegie Mellon University,24,"12,676",45%,13.5,/world-university-rankings/carnegie-mellon-uni...
24,London School of Economics and Political Science,United Kingdom,London School of Economics and Political Science,=25,"10,065",71%,12.2,/world-university-rankings/london-school-econo...
25,University of Washington,United States,University of Washington,=25,"44,945",16%,11.4,/world-university-rankings/university-washington
26,University of Edinburgh,United Kingdom,University of Edinburgh,=27,"26,759",40%,12.5,/world-university-rankings/university-edinburgh
27,New York University,United States,New York University,=27,"43,860",26%,9.6,/world-university-rankings/new-york-university
28,Peking University,China,Peking University,=27,"42,136",16%,8.9,/world-university-rankings/peking-university
29,Tsinghua University Qinghua University Tsing h...,China,Tsinghua University,30,"42,089",9%,13.7,/world-university-rankings/tsinghua-university
...,...,...,...,...,...,...,...,...
170,University of Cape Town,South Africa,University of Cape Town,171,"20,775",18%,11.7,/world-university-rankings/university-cape-town
171,"Rutgers, the State University of New Jersey",United States,"Rutgers, the State University of New Jersey",172,"43,439",10%,11.1,/world-university-rankings/rutgers-state-unive...
172,KTH Royal Institute of Technology,Sweden,KTH Royal Institute of Technology,=173,"12,951",17%,16.0,/world-university-rankings/kth-royal-institute...
173,University of Münster,Germany,University of Münster,=173,"42,287",7%,42.6,/world-university-rankings/university-munster
174,Université Libre de Bruxelles,Belgium,Université Libre de Bruxelles,=175,"25,343",35%,43.4,/world-university-rankings/universite-libre-de...
175,Newcastle University,United Kingdom,Newcastle University,=175,"20,952",30%,15.6,/world-university-rankings/newcastle-university
176,University of Liverpool,United Kingdom,University of Liverpool,=177,"19,815",35%,11.7,/world-university-rankings/university-liverpool
177,Zhejiang University ZJU Zhejiang University Ch...,China,Zhejiang University,=177,"50,051",6%,14.1,/world-university-rankings/zhejiang-university
178,University of Luxembourg,Luxembourg,University of Luxembourg,=179,"4,969",57%,14.6,/world-university-rankings/university-luxembourg
179,University of Twente,Netherlands,University of Twente,=179,"6,697",27%,12.8,/world-university-rankings/university-twente
180,Paris-Sud University,France,Paris-Sud University,181,"27,221",16%,14.5,/world-university-rankings/paris-sud-university
181,École Normale Supérieure de Lyon,France,École Normale Supérieure de Lyon,=182,"2,221",13%,8.5,/world-university-rankings/ecole-normale-super...
182,Hong Kong Polytechnic University hkpu hong kon...,Hong Kong,Hong Kong Polytechnic University,=182,"21,773",25%,26.9,/world-university-rankings/hong-kong-polytechn...
183,Scuola Normale Superiore di Pisa,Italy,Scuola Normale Superiore di Pisa,184,515,7%,5.2,/world-university-rankings/scuola-normale-supe...
184,University of Aberdeen,United Kingdom,University of Aberdeen,185,"12,055",36%,13.9,/world-university-rankings/university-aberdeen
185,University of Miami,United States,University of Miami,186,"15,860",16%,5.9,/world-university-rankings/university-miami
186,University of Dundee,United Kingdom,University of Dundee,187,"10,893",24%,14.9,/world-university-rankings/university-dundee
187,University of East Anglia,United Kingdom,University of East Anglia,=188,"13,521",30%,13.6,/world-university-rankings/university-east-anglia
188,Shanghai Jiao Tong University,China,Shanghai Jiao Tong University,=188,"37,288",6%,12.4,/world-university-rankings/shanghai-jiao-tong-...
189,Aalto University,Finland,Aalto University,190,"12,744",20%,20.2,/world-university-rankings/aalto-university
190,University of Massachusetts,United States,University of Massachusetts,191,"59,230",14%,13.3,/world-university-rankings/university-massachu...
191,University of Auckland,New Zealand,University of Auckland,192,"30,348",29%,18.8,/world-university-rankings/university-auckland
192,Northeastern University,United States,Northeastern University,193,"18,780",32%,14.0,/world-university-rankings/northeastern-univer...
193,Lomonosov Moscow State University,Russian Federation,Lomonosov Moscow State University,194,"29,236",22%,7.3,/world-university-rankings/lomonosov-moscow-st...
194,Tilburg University,Netherlands,Tilburg University,195,"7,738",13%,22.5,/world-university-rankings/tilburg-university
195,Paris-Sorbonne University – Paris 4,France,Paris-Sorbonne University – Paris 4,196,"22,042",15%,30.2,/world-university-rankings/paris-sorbonne-univ...
196,"Royal Holloway, University of London",United Kingdom,"Royal Holloway, University of London",197,"8,931",40%,15.4,/world-university-rankings/royal-holloway-univ...
197,"University of California, Riverside",United States,"University of California, Riverside",=198,"20,740",14%,20.7,/world-university-rankings/university-californ...
198,University of Gothenburg,Sweden,University of Gothenburg,=198,"18,378",13%,10.0,/world-university-rankings/university-gothenburg
199,National Taiwan University,Taiwan,National Taiwan University,=198,"31,758",8%,11.5,/world-university-rankings/national-taiwan-uni...